.navbar {
    padding: 10px 0 !important;
}
ul.nav.side-nav {
    display: flex;
    flex-direction: column;
}
ul.nav.side-nav li {
    display: inline-flex;
    width: 100%;
}
ul.nav.side-nav li a {
    padding: 0.2rem 0.8rem;
    font-size: 13px;
    color: #5a6e79;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
}
ul.nav.side-nav li a.active {
    background: red;
    color: #ffffff;
}